* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    border: 2px solid black;
    border-radius: 10px;
    width: 700px;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "display display display display"
    "cancel neg percentage divide"
    "seven eight nine multiply"
    "four five six minus"
    "one two three add"
    "zero zero dot equals";
}

.display {
    border: 4px double gray;
    border-radius: 10px;
    background-color: rgb(245, 242, 242);
    grid-area: display;
    font-size: 5em;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.button {
    font-size: 2em;
    border-radius: 10px;
}

.cancel {
    grid-area: cancel;
    background-color: rgb(249, 48, 48);
}
.cancel:hover {
    background-color: rgb(245, 79, 79);
}

.cancel:active {
    background-color: rgb(246, 109, 109);
}

.neg {
    grid-area: neg;
    background-color: silver
}

.dot {
    grid-area: dot;
    background-color: silver
}

.equals {
    grid-area: equals;
    background-color: silver
}

.neg:hover, .dot:hover, .equals:hover {
    background-color: rgb(160, 159, 159)
}

.neg:active, .dot:active, .equals:active {
    background-color: rgb(131, 131, 131)
}

/* Operators styling */
.operator {
    background-color: rgb(255, 166, 0);
}

.operator:hover {
    background-color: rgb(224, 152, 18);
}

.operator:active {
    background-color: rgb(218, 190, 136);
}

.percentage {
    grid-area: percentage;
}

.divide {
    grid-area: divide;
}

.multiply {
    grid-area: multiply;
}

.minus {
    grid-area: minus;
}

.add {
    grid-area: add;
}

/* digits styling */
.digit {
    background-color: rgb(32, 31, 31);
    color: white;
}
.digit:hover {
    background-color: rgb(15, 14, 14);
}
.digit:active {
    background-color: rgb(7, 7, 7);
}
.nine { 
    grid-area: nine;
}

.eight {
    grid-area: eight;
}
.seven {
    grid-area: seven
}

.six {
    grid-area: six
}

.five {
    grid-area: five;
}

.four {
    grid-area: four;
}

.three {
    grid-area: three;
}

.two {
    grid-area: two;
}

.one {
    grid-area: one;
}

.zero {
    grid-area: zero;
}


/* adjust container size based on screen size */
@media screen and (max-width: 450px) {
    .calculator-container {
        width: 300px;
    }
    .display {
        font-size: 2em;
    }
    .button {
        font-size: 1em;
        border-radius: 5px;
    }
}